# PostgreSQL
POSTGRES_DB_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# General settings
DJANGO_URL_FRONT=
DJANGO_ADMINS=
DJANGO_SETTINGS_MODULE=
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=

# Email settings
DJANGO_DEFAULT_FROM_EMAIL=
DJANGO_EMAIL_SUBJECT_PREFIX=
DJANGO_EMAIL_HOST=
DJANGO_EMAIL_USER=
DJANGO_EMAIL_PASSWORD=
DJANGO_EMAIL_PORT=
DJANGO_EMAIL_USE_TLS=
DJANGO_EMAIL_USE_SSL=

# CORS configuration
DJANGO_CORS_ORIGIN_WHITELIST=
DJANGO_CORS_ALLOW_ALL=

# Haystack configuration
DJANGO_HAYSTACK_URL=
DJANGO_HAYSTACK_INDEX_NAME=
DJANGO_HAYSTACK_SILENTLY_FAIL=