{% extends "base.html" %}
{% load static %}

{% block title %}Question List: {{ question_list.question_list_header }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ question_list.question_list_header }}</h2>

            <div class="list-group" id="list-questions">
                {% for question in question_list.questions.all %}
                    <div class="list-group-item">
                        <a href="{% url 'questions:question_detail' question.pk %}">
                            <h4 class="list-group-item-heading">{{ question.question_header }}</h4>
                        </a>
                        <font>{{ question.question_text }}</font>
                        <br>
                        {% for tag in question.tags.all %}
                            <span class="tag tag-primary">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <br>
            <form action="" method="post">{% csrf_token %}
                <a href="/questions/generate_list" class="btn btn-primary button-clear-remove">Gerar Lista</a>
                <input type="submit" class="btn btn-danger" value="Apagar Lista"/>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
