{% extends "base.html" %}
{% load static %}

{% block title %}Question Lists{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de questoes de: {{ request.user.username }}</h2>

    <div class="list-group" id="list-questions">
        {% for question_list in question_list_list %}
            <div class="list-group-item">
                <a href="{% url 'questions:question_listdetaildelete' question_list.pk %}">
                    <h4 class="list-group-item-heading">{{ question_list.question_list_header }}</h4>
                </a>
                {% if question_list.questions.all|length <= 0 %}
                    Nenhuma questão
                {% elif question_list.questions.all|length == 1 %}
                    {{ question_list.questions.all|length }} questão.
                {% else %}
                    {{ question_list.questions.all|length }} questões.
                {% endif %}
                <br>
                Criado por {{question_list.owner}} em {{question_list.create_date|date:"d/m/Y"}}
                <br>
                {% if question_list.private %}
                    Lista privada
                {% else %}
                    Lista publica
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <!-- Paginacao -->
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/questions?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} |
                </span>
                {% if page_obj.has_next %}
                    <a href="/questions?page={{ page_obj.next_page_number }}">Seguinte</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <!-- Fim da Paginacao -->
</div>
{% endblock content %}
