{% extends "base.html" %}
{% load static %}

{% block title %}Question List: {{ question_list.question_list_header }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ question_list.question_list_header }}</h1>
            <h4> Criado por {{ question_list.owner.username }} em {{question_list.create_date|date:"d/m/Y"}}</h4>
            {% if question_list.cloned_from %}
                <h4> Clonado de <a href="{% url 'questions:question_list_detail' question_list.cloned_from.pk %}">Lista</a></h4>
            {% endif %}
            <div class="list-group" id="list-questions">
                {% for question in question_list.questions.all %}
                    <div class="list-group-item">
                        <a href="{% url 'questions:question_detail' question.pk %}">
                            <h4 class="list-group-item-heading">{{ question.question_header }}</h4>
                        </a>
                        <font>{{ question.question_text }}</font>
                        <input type="hidden" name="questionId" value="{{question.id}}" />
                        <br>
                        {% for tag in question.tags.all %}
                            <span class="tag tag-primary">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <br>
            <a href="#" class="btn btn-primary" onclick="generateList()">Gerar Lista</a>
            {% if question_list.owner.id == request.user.id %}
                <form method="POST" action="{% url 'questions:question_list_delete' question_list.pk %}" >{% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Apagar Lista" onclick="return confirm('Tem certeza disso?');"/>
                </form>
                <a href="{% url 'questions:question_list_edit' question_list.pk %}" class="btn btn-success">Editar Lista</a>
            {% endif %}
            <a href="{% url 'questions:question_list_clone' question_list.pk %}" class="btn btn-primary">Clonar Lista</a>
        </div>
    </div>
</div>

<script>
function generateList() {
    var questionsId = [];
    $("input[name='questionId']").each(function() {
        questionsId.push(parseInt($(this).val()));
    });

    console.log(questionsId);
    console.log(questionsId.length);
    $.ajax({
        url : "/questions/generate_list",
        type : "POST",
        data : { 'questionsId[]' : questionsId, csrfmiddlewaretoken: '{{csrf_token}}'},
        success:function(data) {
            if (data.status == "ready")
            {
                window.location.href = "/questions/generate_list";
            }
        }
    });
};
</script>
{% endblock content %}
