{% extends "base.html" %}
{% load static i18n %}
{% block title %}Questões{% endblock %}

{% block content %}
<div class="container">
    <h2>Questões</h2>
    <div class="list-group">
        {% for question in question_list %}
            <div class="list-group-item">
                <a href="{% url 'questions:question_detail' question.pk %}">
                    <h4 class="list-group-item-heading">{{ question.question_header }}</h4>
                </a>
                {% if question.pk in request.session.checked_edit_add_questions %}
                    <input type="checkbox" checked id="chkquestion{{question.pk}}" onchange="checkEditQuestion({{question.pk}})" />
                {% else %}
                    <input type="checkbox" id="chkquestion{{question.pk}}" onchange="checkEditQuestion({{question.pk}})" />
                {% endif %}
                <span>{{ question.question_text }}</span>
                <br>
                {% if question.level == 'E' %}
                    <span class="tag tag-success">Facil</span>
                {% elif question.level == 'M' %}
                    <span class="tag tag-warning">Medio</span>
                {% elif question.level == 'H' %}
                    <span class="tag tag-danger">Dificil</span>
                {% endif %}
                {% for tag in question.tags.all %}
                    <span class="tag tag-primary">{{ tag.name }}</span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <script>
    function checkEditQuestion(questionPK) {
        checked = $("#chkquestion"+questionPK).is(":checked");
        console.log(checked)
        $.ajax({
            url : "{% url 'questions:check_question_edit_add_list' %}",
            type : "POST",
            data : { questionPK : questionPK, checked : checked, csrfmiddlewaretoken: '{{csrf_token}}'}, // data sent with the post request
        });
    };

    function clearEditQuestions() {
        if (confirm('Voce tem certeza que quer limpar a lista de questoes ?')) {
            $.ajax({
                url : "{% url 'questions:clear_questions_edit_add_list' %}",
                type : "POST",
                data : {csrfmiddlewaretoken: '{{csrf_token}}'},
                success:function(data) {
                    $('input[type=checkbox]').each(function() {
                        $(this).prop('checked', false);
                    });
                }
            });
        }
    };
    </script>

    <!-- Paginacao -->
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/questions?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} |
                </span>
                {% if page_obj.has_next %}
                    <a href="/questions?page={{ page_obj.next_page_number }}">Seguinte</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <!-- Fim da Paginacao -->
    <br>
    <a href="{% url 'questions:question_list_edit' pk_slug %}" class="btn btn-primary">Adicionar Exercicios</a>
    <a href="#" onclick="clearEditQuestions()" class="btn btn-danger">Limpar lista</a>

</div>
{% endblock content %}
