{% extends "base.html" %}
{% load static %}

{% block title %}Question List: {{ question_list.question_list_header }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ question_list.question_list_header }}</h1>
            <form method="POST" action="{% url 'questions:question_list_edit' question_list.pk %}" >{% csrf_token %}
                {% csrf_token %}
                {{ form.as_p }}
                <div class="list-group" id="list-questions">
                    {% for question in question_list.questions.all %}
                        <div class="list-group-item">
                            <a href="{% url 'questions:question_detail' question.pk %}">
                                <h4 class="list-group-item-heading">{{ question.question_header }}</h4>
                            </a>
                            <span>{{ question.question_text }}</span>
                            <input type="hidden" name="questionId" value="{{question.id}}" />
                            <br>
                            {% for tag in question.tags.all %}
                                <span class="tag tag-primary">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <br>
                {% if checked_edit_questions|length > 0%}
                    <h2>Questões a serem adicionadas</h2>
                    <div class="list-group">
                        {% for question in checked_edit_questions %}
                        <div class="list-group-item">
                            <a href="{% url 'questions:question_detail' question.pk %}">
                                <h4 class="list-group-item-heading">{{ question.question_header }}</h4>
                            </a>
                            <span>{{ question.question_text }}</span>
                            <input type="hidden" name="questionId" value="{{question.id}}" />
                            <br>
                            {% for tag in question.tags.all %}
                                <span class="tag tag-primary">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <br>
                <a href="{% url 'questions:question_list_edit_list' question_list.pk %}" class="btn btn-primary">Adicionar mais exercícios</a>
                <input type="submit" class="btn btn-success" value="Salvar Lista"/>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
