{% extends "base.html" %}
{% load static %}

{% block title %}Question: {{ object.question_header }}{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-12">
        {% if question.level == 'E' %}
            <span class="tag tag-success">Facil</span>
        {% elif question.level == 'M' %}
            <span class="tag tag-warning">Medio</span>
        {% elif question.level == 'H' %}
            <span class="tag tag-danger">Dificil</span>
        {% endif %}
        {% for tag in question.tags.all %}
            <span class="tag tag-primary">{{ tag.name }}</span>
        {% endfor %}
        <p>
            <b>{{ question.question_header }}</b>
            {{ question.question_text|safe }}
        </p>

        <ol type="a">
        {% for answer in question.answers.all %}
            {% if answer.is_correct %}
                <b><li> {{ answer.answer_text|safe }} </li></b>
            {% else %}
                <li> {{ answer.answer_text|safe }} </li>
            {% endif %}
        {% endfor %}
        </ol>
        {% if question.resolution is not None and question.resolution != ""%}
            <p>
                <b>Resposta esperada do autor</b>: {{ question.resolution }}
            </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
