{% extends "base.html" %}
{% load static i18n %}
{% block title %}Lista de Questoes:{% endblock %}

{% block content %}
<div class="container">
    {% if checked_questions|length == 0 %}
        <h2 id="list-header">Nenhuma questao selecionada</h2>
    {% else %}
        <h2 id="list-header">Questoes selecionadas</h2>
    {% endif %}
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="listHeader" value="Sem nome" />
        <div class="list-group" id="list-questions">
            {% for question in checked_questions %}
                <div class="list-group-item">
                    <a href="{% url 'questions:question_detail' question.pk %}">
                        <h4 class="list-group-item-heading">{{ question.question_header }}</h4>
                    </a>
                    <font>{{ question.question_text }}</font>
                    <input type="hidden" name="questionId" value="{{question.id}}" />
                    <br>
                    {% for tag in question.tags.all %}
                        <span class="tag tag-primary">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <br>
        <a href="{% url 'questions:list' %}" class="btn btn-primary">Selecionar Exercicios</a>

        {% if checked_questions|length > 0 %}
            <a href="#" class="btn btn-primary" onclick="generateList()">Gerar Lista</a>
            <input type="submit" class="btn btn-success button-clear-remove" value="Salva Lista" />
            <a href="#" onClick="clearQuestions();" class="btn btn-danger button-clear-remove">Remover todas as questoes</a>
        {% endif %}
    </form>

    <script>
    function clearQuestions() {
        if (confirm('Voce tem certeza que quer limpar a lista de questoes ?')) {
            $.ajax({
                url : "{% url 'questions:clear_questions'%}",
                type : "POST",
                data : {csrfmiddlewaretoken: '{{csrf_token}}'},
                success:function(data) {
                    $("#list-questions").html("");
                    $("#list-header").text("Nenhuma questao selecionada");
                    $(".button-clear-remove").remove();
                }
            });
        }
    };

    function generateList() {
        var questionsId = [];
        $("input[name='questionId']").each(function() {
            questionsId.push(parseInt($(this).val()));
        });

        console.log(questionsId);
        console.log(questionsId.length);
        $.ajax({
            url : "{% url 'questions:list_generator' %}",
            type : "POST",
            data : { 'questionsId[]' : questionsId, 'listHeader' : 'List sem nome',  csrfmiddlewaretoken: '{{csrf_token}}'},
            success:function(data) {
                if (data.status == "ready")
                {
                    window.location.href = "{% url 'questions:list_generator' %}";
                }
            }
        });
    };
    </script>

</div>
{% endblock content %}
