.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.navbar {
  border-radius: 0px; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

[hidden][style="display: block;"] {
  display: block !important; }

.tagline {
  background: url("../images/banner.jpg") top left/auto 100% no-repeat fixed;
  background-size: 100%;
  color: #fff;
  padding: 6% 0; }

.question_counter {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em; }
  .question_counter .total_questions {
    font-size: 2em; }

.benefits .thumb {
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 30px auto; }
  .benefits .thumb img {
    max-width: 100%; }

footer {
  font-size: 0.8em;
  padding-top: 1em;
  background-color: #EA8E62;
  color: #fff; }

footer p {
  margin-top: 5px;
  margin-bottom: 1rem; }

.pwdby {
  text-align: right; }
  .pwdby a {
    color: #fff;
    font-weight: bold; }
