{% extends "base.html" %}
{% load static %}

{% block title %}Criar nova questão{{ object.question_header }}{% endblock %}

{% block content %}
<div class="container">
    <h2 id="list-header">Nova questao</h2>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <h3>Respostas</h3>
        <div id="answer_container">
            <div id="div_answer1">
                <label for="id_answer1">Resposta 1: Correta:<input type="radio" value="1" name="correct_answer" checked></input></label>
                <textarea id="id_answer1" name="answer_text" class="form-control" rows="15" cols="40"></textarea>
            </div>
        </div>
        <button  type="button" id="add_answer" class="btn btn-success">Adicionar nova resposta</button>
        <button  type="button" id="del_answer" class="btn btn-danger">Remover ultima resposta</button>
        <br><br>
        <input class="btn btn-success" type="submit" value="Criar questao" />
    </form>
</div>
<script>
var question_counter = 1;
$("#del_answer").hide()

CKEDITOR.replace( 'id_answer1' ,{
    filebrowserBrowseUrl: '/ckeditor/browse/',
    filebrowserUploadUrl: '/ckeditor/upload/'
});

$("#add_answer").click(function () {
    ++question_counter;
    new_answer = '<div id="div_answer' + question_counter + '">' +
    '<label for="id_answer' + question_counter + '">Resposta ' + question_counter + ': Correta: <input type="radio" value="' + question_counter + '" name="correct_answer"></input></label>' +
    '<textarea id="id_answer' + question_counter + '" name="answer_text" class="form-control" rows="15" cols="40"></textarea>' +
    '' +
    '</div>';

    $("#answer_container").append(new_answer);

    CKEDITOR.replace( 'id_answer' + question_counter ,{
        filebrowserBrowseUrl: '/ckeditor/browse/',
        filebrowserUploadUrl: '/ckeditor/upload/'
    });
    if (question_counter > 1)
        $("#del_answer").show()
});

$("#del_answer").click(function () {
    $("#div_answer" + question_counter).remove()
    --question_counter;

    if (question_counter <= 1)
        $("#del_answer").hide()
});
</script>
{% endblock content %}
