{% extends "base.html" %}
{% load static i18n %}
{% block title %}Lista de Questoes:{% endblock %}

{% block content %}
<div class="container">
    <h2 id="list-header">Lista clonada: {{cloned_from_list.question_list_header}}</h2>
    <h4>Lista criada por {{cloned_from_list.owner.username }} em {{cloned_from_list.create_date|date:"d/m/Y"}} </h4>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="list-group" id="list-questions">
            {% for question in cloned_from_list.questions.all %}
                <div class="list-group-item">
                    <a href="{% url 'questions:question_detail' question.pk %}">
                        <h4 class="list-group-item-heading">{{ question.question_header }}</h4>
                    </a>
                    <font>{{ question.question_text|safe }}</font>
                    <br>
                    {% for tag in question.tags.all %}
                        <span class="tag tag-primary">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <br>
        {% if cloned_from_list.questions.all|length > 0 %}
            <a href="#" class="btn btn-primary" onclick="generateList()">Gerar Lista</a>
            <input type="submit" class="btn btn-success" value="Salva Lista" />
            <a href=" {% url 'questions:question_list_list'%}" class="btn btn-danger" onclick="return confirm('Deseja mesmo cancelar?')">Cancelar</a>
        {% endif %}
    </form>
</div>
{% endblock content %}
